@page
@model WebApi.Areas.Identity.Pages.RecipeModify.EditModel
@{
}

<form enctype="multipart/form-data" id="edit-recipe-form" method="post">
    <h1>Редактировать</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="tab-title-container">
                <h4 class="name-edit">
                    <label class="control-label-custom">
                        <div class="text-info-custom">@Model.Input.Recipe.Name</div>
                        <i class="icon-star"></i>
                    </label>
                    <input id="label-edit" type="hidden" asp-for="Input.Recipe.Name" />
                    <div class="controls">
                        <a href="#" id="edit" class="btn-hidden"></a>
                        <picture>
                            <source srcset="/pics/edit.png">
                            <img src="/pics/edit.png" alt="MDN" class="img-icon">
                        </picture>
                    </div>
                </h4>
            </div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Input.Recipe.Id"/>
            <div class="form-group">
                <div class="slideshow-container">
                    <div class="mySlides">
                        <div class="numbertext">1 / @(Model.Input.Recipe.PictureList.Count() + 1)</div>
                        <img src="@Url.Action("Image", "AdminRecipes", new { id = Model.Input.Recipe.Id })" style="width:100%">
                    </div>
                    @for (int i = 0; i < Model.Input.Recipe.PictureList.Count(); i++)
                    {
                        <div class="mySlides">
                            <div class="numbertext">@(i + 2) / @(Model.Input.Recipe.PictureList.Count() + 1)</div>
                            <img src="@Url.Action("Image", "AdminRecipes", new { id = Model.Input.Recipe.Id, sid = i })" style="width:100%">
                        </div>
                    }
                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>

                    <!-- The dots/circles -->
                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        @for (int i = 0; i < Model.Input.Recipe.PictureList.Count(); i++)
                        {
                            <span class="dot" onclick="currentSlide(@(i + 2))"></span>
                        }
                    </div>
                </div>
                <br>
            </div>
            <input id="main-picture-id" type="hidden" asp-for="Input.MainPictureId" value="1"/>
            <div class="form-group">
                <input id='files' type='file' multiple asp-for="Input.Recipe.MainPicture" />
                <output id='result' />
            </div>
        </div>
        <div class="col-md-4">
            <div class="tab-title-container">
                <h4>Параметры</h4>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Input.Recipe.Weight" class="control-label"></label>
                <input asp-for="Input.Recipe.Weight" class="form-control" />
                <span asp-validation-for="Input.Recipe.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Recipe.Colories" class="control-label"></label>
                <input asp-for="Input.Recipe.Colories" class="form-control" />
                <span asp-validation-for="Input.Recipe.Colories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Recipe.Proteins" class="control-label"></label>
                <input asp-for="Input.Recipe.Proteins" class="form-control" />
                <span asp-validation-for="Input.Recipe.Proteins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Recipe.Greases" class="control-label"></label>
                <input asp-for="Input.Recipe.Greases" class="form-control" />
                <span asp-validation-for="Input.Recipe.Greases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Recipe.Carbohydrates" class="control-label"></label>
                <input asp-for="Input.Recipe.Carbohydrates" class="form-control" />
                <span asp-validation-for="Input.Recipe.Carbohydrates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Recipe.IsVegan" class="control-label"></label>
                <div class="checkbox">
                    <input class="custom-checkbox" type="checkbox" id="checkboxin" asp-for="Input.Recipe.IsVegan">
                    <label for="checkboxin"></label>
                    <span asp-validation-for="Input.Recipe.IsVegan" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.Recipe.IsVegetarian" class="control-label"></label>
                <div class="checkbox">
                    <input class="custom-checkbox" type="checkbox" id="checkboxin" asp-for="Input.Recipe.IsVegetarian">
                    <label for="checkboxin"></label>
                    <span asp-validation-for="Input.Recipe.IsVegetarian" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tab-title-container">
                <h4>Расписание использования</h4>
            </div>
            <hr />
            <table class="table-cell" style="width:100%">
                <tr>
                    <th></th>
                    <th>Завтрак</th>
                    <th>Обед</th>
                    <th>Ужин</th>
                </tr>
                @for (int i = 0; i < Model.Input.RecipeDayInclude.Count(); i++)
                {
                    <tr>
                        <th>@Html.Label("", Model.Input.DayMenuName[i])</th>
                        @for (int j = 0; j < Model.Input.RecipeDayInclude[0].Count(); j++)
                        {
                            <td>
                                <div class="checkbox-center">
                                    <input class="custom-checkbox" type="checkbox" asp-for="Input.RecipeDayInclude[i][j]">
                                    @Html.Label("", "")
                                    <span asp-validation-for="Input.RecipeDayInclude[i][j]" class="text-danger"></span>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </table>
            <label class="label-tab-spacer"></label>
        </div>
    </div>
    <label class="label-tab-spacer"></label>
    <div class="row">
        <div class="form-group">
            @if (Model.ReturnUrl == null)
            {
                <a input type="button" class="btn btn-primary" asp-controller="AdminRecipes" asp-action="Index">Назад</a>
            }
            else
            {
                <a input type="button" class="btn btn-primary" asp-area="Identity" asp-page="@Model.ReturnUrl">Назад</a>
            }
            <a input type="button" class="btn btn-danger" asp-area="Identity" asp-page="/RecipeModify/Delete" asp-route-id="@Model.Input.Recipe.Id">Удалить</a>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    window.onload = function () {
        //Check File API support
        if (window.File && window.FileList && window.FileReader) {
            var filesInput = document.getElementById("files");
            filesInput.addEventListener("change", function (event) {
                var files = event.target.files; //FileList object
                var output = document.getElementById("result");
                var div = document.getElementsByClassName("image-uploader");
                if (div.length == 0) {
                    div = document.createElement("div");
                    div.className = "image-uploader";
                }
                else
                    div = div[0];
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    //Only pics
                    if (!file.type.match('image'))
                        continue;
                    var picReader = new FileReader();
                    picReader.addEventListener("load", function (event) {
                        var picFile = event.target;
                        var id = event.target.index + 1;
                        var div2 = document.createElement("div");
                        div2.className = "image-container";
                        div2.innerHTML += "<img class='thumbnail' src='" + picFile.result + "' " + "title='" + picFile.name + "' id='img-" + id + "'/>" +
                            "<button class='imagelinks' type='button' onclick='selectImage(event, " + id + ")' id='selector-" + id + "'></button>";
                        div.appendChild(div2);
                        output.insertBefore(div, null);
                    });
                    picReader.index = i;
                    //Read the image
                    picReader.readAsDataURL(file);
                }
            });
        } else {
            console.log("Your browser does not support File API");
        }
    }
</script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
