@page
@model WebApi.Areas.Identity.Pages.RecipeModify.ModifyModel
@{
}

<form enctype="multipart/form-data" id="create-recipe-form" method="post">
    @if (Model.Input.ModifyType)
    {
        <h1>Редактировать блюдо</h1>
    }
    else
    {
        <h1>Создать блюдо</h1>
    }
    <div class="row">
        <div class="col-md-6">
            <div class="tab-title-container">
                <h4 class="name-edit">
                    <label class="control-label-custom">
                        <div class="text-info-custom">@Model.Input.Recipe.Name</div>
                        <i class="icon-star"></i>
                    </label>
                    <input id="label-edit" type="hidden" asp-for="Input.Recipe.Name" />
                    <div class="controls">
                        <a href="#" id="edit" class="btn-hidden"></a>
                        <picture>
                            <source srcset="/pics/edit.png">
                            <img src="/pics/edit.png" alt="MDN" class="img-icon">
                        </picture>
                    </div>
                </h4>
            </div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input id="recipe-id" type="hidden" asp-for="Input.Recipe.Id" />
            @if (Model.Input.ModifyType)
            {
                <div class="form-group">
                    <div class="slideshow-container">
                        <div class="mySlides">
                            <div class="numbertext">1 / @(Model.Input.Recipe.PictureList.Count() + 1)</div>
                            <img src="@Url.Action("Image", "AdminRecipes", new { id = Model.Input.Recipe.Id })" style="width:100%">
                        </div>
                        @for (int i = 0; i < Model.Input.Recipe.PictureList.Count(); i++)
                        {
                            <div class="mySlides">
                                <div class="numbertext">@(i + 2) / @(Model.Input.Recipe.PictureList.Count() + 1)</div>
                                <img src="@Url.Action("Image", "AdminRecipes", new { id = Model.Input.Recipe.Id, sid = i })" style="width:100%">
                            </div>
                        }
                        <!-- Next and previous buttons -->
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>

                        <!-- The dots/circles -->
                        <div style="text-align:center">
                            <span class="dot" onclick="currentSlide(1)"></span>
                            @for (int i = 0; i < Model.Input.Recipe.PictureList.Count(); i++)
                            {
                                <span class="dot" onclick="currentSlide(@(i + 2))"></span>
                            }
                        </div>
                    </div>
                    <br>
                </div>
            }
            <label asp-for="Input.Recipe.MainPicture" class="control-label"></label>
            <input id="main-picture-id" type="hidden" asp-for="Input.MainPictureId" value="1" />
            <div class="form-group">
                <input id='files' type='file' multiple asp-for="Input.Recipe.MainPicture" />
                <output id='result' />
            </div>
        </div>
        <div class="col-md-6">
            <div class="tab-title-container">
                <h4>БЖУ</h4>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Input.Recipe.Weight" class="control-label"></label>
                <input asp-for="Input.Recipe.Weight" class="form-control" />
                <span asp-validation-for="Input.Recipe.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Recipe.Colories" class="control-label"></label>
                <input asp-for="Input.Recipe.Colories" class="form-control" />
                <span asp-validation-for="Input.Recipe.Colories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Recipe.Proteins" class="control-label"></label>
                <input asp-for="Input.Recipe.Proteins" class="form-control" />
                <span asp-validation-for="Input.Recipe.Proteins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Recipe.Greases" class="control-label"></label>
                <input asp-for="Input.Recipe.Greases" class="form-control" />
                <span asp-validation-for="Input.Recipe.Greases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Recipe.Carbohydrates" class="control-label"></label>
                <input asp-for="Input.Recipe.Carbohydrates" class="form-control" />
                <span asp-validation-for="Input.Recipe.Carbohydrates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Recipe.Type" class="control-label"></label>
                <select asp-for="Input.Recipe.Type" asp-items="@Model.Input.Type" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Input.Recipe.IsVegan" class="control-label"></label>
                <div class="checkbox">
                    <input class="custom-checkbox" type="checkbox" id="checkboxin" asp-for="Input.Recipe.IsVegan">
                    <label for="checkboxin"></label>
                    <span asp-validation-for="Input.Recipe.IsVegan" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.Recipe.IsVegetarian" class="control-label"></label>
                <div class="checkbox">
                    <input class="custom-checkbox" type="checkbox" id="checkboxin" asp-for="Input.Recipe.IsVegetarian">
                    <label for="checkboxin"></label>
                    <span asp-validation-for="Input.Recipe.IsVegetarian" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <label class="label-tab-spacer"></label>
    <div class="row">
        <div class="form-group">
            @if (Model.ReturnUrl == null)
            {
                <a input type="button" class="btn btn-primary" asp-controller="AdminRecipes" asp-action="Index">Назад</a>
            }
            else
            {
                <a input type="button" class="btn btn-primary" asp-area="Identity" asp-page="@Model.ReturnUrl">Назад</a>
            }
            @if (!Model.Input.ModifyType)
            {
                <button type="submit" class="btn btn-primary">Создать</button>
            }
            else
            {
                <a input type="button" class="btn btn-danger" asp-area="Identity" asp-page="/RecipeModify/Delete" asp-route-id="@Model.Input.Recipe.Id">Удалить</a>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            }
        </div>
    </div>
</form>

<script type="text/javascript">
    window.onload = function () {
        //Check File API support
        var count = 0;
        if (window.File && window.FileList && window.FileReader) {
            var filesInput = document.getElementById("files");
            filesInput.addEventListener("change", function (event) {
                var files = event.target.files; //FileList object
                var output = document.getElementById("result");
                var div = document.getElementsByClassName("image-uploader");
                if (div.length == 0) {
                    div = document.createElement("div");
                    div.className = "image-uploader";
                }
                else
                    div = div[0];
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    //Only pics
                    if (!file.type.match('image'))
                        continue;
                    var picReader = new FileReader();             
                    picReader.addEventListener("load", function (event) {
                        count++;
                        var picFile = event.target;
                        var id = event.target.index + 1;
                        var div2 = document.createElement("div");
                        div2.className = "image-container";
                        div2.innerHTML += "<img class='thumbnail' src='" + picFile.result + "' "
                            + "title='" + picFile.name + "' id='img-" + id + "'/>" +
                            "<button class='imagelinks' type='button' onclick='selectImage(event, "
                            + id + ")' id='selector-" + id + "'></button>";
                        div.appendChild(div2);
                        output.insertBefore(div, null);
                    });
                    //Read the image
                    picReader.index = i;
                    picReader.readAsDataURL(file);
                }
            });
        } else {
            console.log("Your browser does not support File API");
        }
    }
    function selectImage(evt, id) {
        var thumbnails = document.getElementsByClassName("thumbnail");
        for (i = 0; i < thumbnails.length; i++) {
            thumbnails[i].setAttribute("style", "border-color: #ced4da");
        }
        document.getElementById('img-' + id).setAttribute("style", "border-color: blue");
        document.getElementById('main-picture-id').value = id;
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
