@page
@model WebApi.Areas.Identity.Pages.Schedule.IndexModel
@{
}

<h1>Расписание</h1>

<p></p>
<!-- Tab links -->
<div class="tab">
    <button class="tablinks" onclick="openCity(event, '@Model.Input.DayMenuName[0]')" id="defaultOpen">@Html.Label("", Model.Input.DayMenuName[0])</button>
    @for (int i = 1; i < Model.Input.DayMenuName.Count(); i++)
    {
        <button class="tablinks" onclick="openCity(event, '@Model.Input.DayMenuName[i]')">@Html.Label("", Model.Input.DayMenuName[i])</button>
    }
</div>

<p></p>

<!-- Tab content -->
@for (int i = 0; i < Model.Input.DayMenuName.Count(); i++)
{
<div id="@Model.Input.DayMenuName[i]" class="tabcontent">
    <label class="label-tab-spacer"></label>
    <div class="header">@Html.Label("", Model.Input.DayMenuName[i])</div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Input.Recipes[0].First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Input.Recipes[0].First().Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Input.Recipes[0].First().Colories)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Input.Recipes[0].First().Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Input.Recipes[i])
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Colories)
                    </td>
                    <td>
                        <img src="@Url.Action("getImg", "AdminRecipes", new { id = item.Id })" alt="Recipe image" height="150" />
                    </td>
                    <td>
                        <div><a input type="button" class="btn btn-addition" asp-area="Identity" asp-page="/RecipeModify/Edit" asp-route-id="@item.Id" asp-route-returnUrl="/Schedule/Index">Изменить</a></div>
                        <div><a input type="button" class="btn btn-addition" asp-controller="AdminRecipes" asp-action="Details" asp-route-id="@item.Id">Подробно</a></div>
                        <div><a input type="button" class="btn btn-addition" asp-area="Identity" asp-page="/RecipeModify/Delete" asp-route-id="@item.Id">Удалить</a></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}