@model WebApi.Models.Recipe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proteins)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proteins)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Greases)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Greases)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Carbohydrates)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HaveMeat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HaveMeat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Action("getImg", "AdminRecipes", new { id = Model.Id })" alt="Recipe image" height="150" />
        </dd>
    </dl>
    <dl class="row">

    </dl>
</div>
<div>
    <a input type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a input type="button" class="btn btn-primary" asp-action="index">Back</a>
</div>
